body{
    margin: 4px;
}
.banner{
    margin-top: 30px;
    text-align:center;
}
.banner img{
    margin: auto;
    width: 60%;
    height: auto;
    display: block;
}
.headings{
    text-align:center;
}
.navbar{
    position: fixed;
    overflow: hidden;
    top: 0;
    margin: 0;
    padding: 0;
    width:100%;
    background-color: gray;
    list-style-type: none;
    z-index: 999;
}
.navbar li{
    float: left;
}
.navbar li a:hover{
    background-color: black;
}
.navbar li a{
    color: white;
    text-align:center;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}
.search-text{
    padding-top: 50px;
}

.menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify: space-between;
    padding: 10px;
    gap: 20px;
    height: 400px;
    overflow-y: auto;
}

.menu-text{
    padding-top: 50px;
}

.input{
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

.input[type=text]{
    background-color: #f1f1f1;
    width: 100%;
}

.input[type=submit]{
    background-color: DodgerBlue;
    color: #fff;
}
.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items{
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 50;

    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div{
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover{
    background-color: #e9e9e9;
}

.autocomplete-active{
    background-color: DodgerBlue;
    color: #ffffff;
}
